@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PyeongChangPeace';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot');
    src:
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix')
            format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2')
            format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff')
            format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf')
            format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NEXON Lv1 Gothic OTF';
}

button {
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}
